<footer class="footer">
	<div class="footer__wrapper container">
    <div class="footer__left">
      <p class="footer__copyright">&#169; 2021 LANDBOX</p>
      <a href="#/" class="footer__logo-link">
        <svg>
          <use xlink:href="../img/sprites.svg#footer-logo"></use>
        </svg>
      </a>
    </div>
    <div class="footer__right">
      <ul class="footer__item">
        <li class="footer__link">
          <a href="#/">COURSES</a>
        </li>
        <li class="footer__link">
          <a href="#/">ABOUT</a>
        </li>
        <li class="footer__link">
          <a href="#/">FAQ</a>
        </li>
        <li class="footer__link">
          <a href="#/">CONTACT US</a>
        </li>
      </ul>
      <ul class="footer__item">
        <li class="footer__link footer__link--bold">
          Follow us on:
        </li>
        <li class="footer__link">
          <a href="#/">Facebook</a>
        </li>
        <li class="footer__link">
          <a href="#/">Instagram</a>
        </li>
        <li class="footer__link">
          <a href="#/">Twitter</a>
        </li>
      </ul>
      <ul class="footer__item">
        <li class="footer__link">
          <a href="#/">TERMS OF SERVICE</a>
        </li>
        <li class="footer__link">
          <a href="#/">TERMS OF USE</a>
        </li>
        <li class="footer__link">
          <a href="#/">PRIVACY POLICY</a>
        </li>
      </ul>
      <div class="footer__item">
        <p class="footer__title">PAYMENT OPTIONS:</p>
        <a href="#/" class="footer__item-link">
          <svg>
            <use xlink:href="../img/sprites.svg#footer-logo-payment"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
