html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: $bgColor;
  font-family: $fontFamilyMain;
  color: #000;
}
body.active {
  overflow: hidden;
}
img {
  max-width: 100%;
  display: block;
}
svg {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.7;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  border: navajowhite;
  background-color: transparent;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: $fontFamilyMain;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.8px;
  margin-bottom: 34px;
  text-align: center;
  span {
    font-weight: 700;
  }
}

.description-block {
  font-family: $fontFamilyMain;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: -0.36px;
  margin-bottom: 178px;
  text-align: center;
}
